*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins',sans-serif;
}

html{
    font-size:62.5;
}

body{
    width: 100%;
    height: 100vh; 
    overflow-x: hidden;
    background-color: beige ;
    color: #6F4E37;
}

header{
    margin-top: 20px;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.home{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 2px;
    gap:8rem;
    background-color: beige;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight:700;
    line-height: 1.3;
}


.home .home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home .home-content p{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight:500;
    max-width:1000px;
}
.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius:20%;
    box-shadow: 0 0 25px solid #2e1808;
    cursor:pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 4rem;
    background-color: transparent;
    border:0.2rem solid #2e1808;
    font-size: 2rem;
    border-radius:  50%;
    margin:3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: black;
}

.social-icons a:hover{
    color:white;
    transform: scale(1.3)translateY(-5px);
    background-color: #2e1808;
    box-shadow: 0 0 25px #2e1808;
    }

.logo{
    font-size: 3rem;
    color: rgb(122, 57, 35);
    font-weight: 800;
    cursor:pointer;
    transition:0.5s ease;
}

.logo:hover{
    transform: scale(1.1);

}

nav a{
    font-size: 1.3rem;
    color:burlywood;
    margin-left: 0.3rem;
    font-weight: 500;
    transition:0.3s ease;
    border-bottom: 3px solid transparent;
}

span{
    color: #2e1808;
}

nav a:hover, nav a.active {
    color: rgb(122, 57, 35);
    border-bottom: 3px solid rgb(37, 11, 3);
}

a:hover, nav a.active {
    color: rgb(122, 57, 35);
    border-bottom: 3px solid rgb(37, 11, 3);
}

a {
    color: rgb(122, 57, 35);
}
@media(max-width:992px){
    
    nav{
        font-size:20px;
        position:absolute;
        display:inline-block;
        top:0%;
        right:0%;
        width:40%;
        border-left:3px solid #6F4E37;
        border-bottom: 3px solid #6F4E37;
        border-bottom-left-radius: 1rem;
        padding: 1rem solid;
        background-color: #2e1808;
        border-top:0.1rem solid rgba(0,0,0,1);
        opacity:0.5;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }

    nav a:hover, nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.3rem solid #6F4E37;

    }

    section{
        min-height: 100vh;
        padding: 5rem 9% 5rem;
    }

    .home{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:8rem;
        background-color: beige;
    }
    .home .home-content h1{
        font-size: 6rem;
        font-weight:700;
        line-height: 1.3;
    }


    .home .home-content h3{
        font-size: 4rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    .home-img{
        border-radius: 50%;
    }

    .home-img img{
        position: relative;
        width: 32vw;
        border-radius:20%;
        box-shadow: 0 0 25px solid #2e1808;
        cursor:pointer;
        transition: 0.2s linear;
    }

    .home-img img:hover{
        font-size: 1.8rem;
        font-weight: 500;
    }

    .social-icons a{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 4rem;
        background-color: transparent;
        border:0.2rem solid #2e1808;
        font-size: 2rem;
        border-radius:  50%;
        margin:3rem 1.5rem 3rem 0;
        transition: 0.3s ease;
        color: black;
    }

    .social-icons a:hover{
    color:white;
    transform: scale(1.3)translateY(-5px);
    background-color: #2e1808;
    box-shadow: 0 0 25px #2e1808;
    }

    .typing-text{
        font-size:34px;
        font-weight:600;
        min-width:280px;  
    }
   
    .typing-text span{
        position: relative;
    }


}

@media(max-width:768px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;   
    }

    .home-img img{
        margin-top: 4rem;
        width:70vh;
    }


}

@media(max-width: 576px){
    .home{
        flex-direction: column;
        margin: 3rem 2rem;
    }

    .home .home-content h3{
        font-size: 1rem;
    }

    .home-content h1{
        font-size: 3rem;   
    }

    .home-img img{
        margin-top: 2rem;
        width:40vh;
    }
}